@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

p {
  text-transform: uppercase;
}

.header {
  font-size: 12px;
  font-weight: bold;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img {
  width: 600px;
  height: 500px;
  border-radius: 5px;
  -webkit-transition: all 0.01s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.01s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.01s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.01s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.01s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn {
  width: 150px;
  height: 50px;
}

@media (max-width: 1160px) {
  .img {
    width: 580px;
    height: 500px;
  }
}
@media (max-width: 1000px) {
  .img {
    width: 750px;
    height: 650px;
  }
  .btn {
    font-size: 2rem;
    width: 250px;
    height: 100px;
  }
}
@media (max-width: 900px) {
  .img {
    width: 700px;
    height: 650px;
  }
  .btn {
    font-size: 2rem;
    width: 250px;
    height: 90px;
  }
}
@media (max-width: 670px) {
  .img {
    display: none;
  }
  .btn {
    font-size: 1.5rem;
    width: 200px;
    height: 60px;
  }
}
@media (max-width: 440px) {
  .btn {
    font-size: 1rem;
    width: 120px;
    height: 50px;
  }
}
@media (max-width: 310px) {
  .btn {
    font-size: 0.8rem;
    width: 100px;
    height: 35px;
  }
}
.container01 {
  background-image: url(/imagens/homeWebb/BackgroundImage1.jpg);
}
.container01 .containerHeader {
  display: flex;
  align-items: center;
}
.container01 .containerHeader .titleHeader {
  font-size: 2.5rem;
}
.container01 .containerHeader .subtitleHeader {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.container01 .titleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
}
.container01 .titleContent .titleWeb {
  font-size: 4rem;
}
.container01 .titleContent .subtitleWeb {
  font-size: 2rem;
}
.container01 .titleContent .arrowDown {
  display: inline-block;
  width: 200px;
  margin-top: 2rem;
}

.container02 {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container02 .containerRightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container02 .containerRightContent .titleTextRight {
  font-size: 2.5rem;
}

.container03 {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container03 .containerLeftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container03 .containerLeftContent .titleTextLeft {
  font-size: 2.5rem;
}

.container04 {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container04 .containerRightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container04 .containerRightContent .titleTextRight {
  font-size: 2.5rem;
}

.container05 {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container05 .containerLeftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container05 .containerLeftContent .titleTextLeft {
  font-size: 2.5rem;
}

@media (max-width: 1160px) {
  .container01 .titleContent {
    padding-top: 20%;
  }
  .container02 .containerRightContent .titleTextRight,
.container04 .containerRightContent .titleTextRight {
    font-size: 2rem;
  }
  .container02 .containerRightContent .subtitleTextRight,
.container04 .containerRightContent .subtitleTextRight {
    font-size: 1.5rem;
  }
  .container03 .containerLeftContent .titleTextLeft,
.container05 .containerLeftContent .titleTextLeft {
    font-size: 2rem;
  }
  .container03 .containerLeftContent .subtitleTextLeft,
.container05 .containerLeftContent .subtitleTextLeft {
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  .container01 .titleContent {
    padding-top: 50%;
  }
  .container01 .titleContent .titleWeb {
    font-size: 6rem;
  }
  .container01 .titleContent .subtitleWeb {
    font-size: 4rem;
  }
  .container01 .titleContent .arrowDown {
    width: 400px;
    margin-top: 10rem;
  }
  .container02,
.container04 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .container02 .containerRightContent .titleTextRight,
.container04 .containerRightContent .titleTextRight {
    font-size: 3rem;
  }
  .container02 .containerRightContent .subtitleTextRight,
.container04 .containerRightContent .subtitleTextRight {
    font-size: 2rem;
  }
  .container03,
.container05 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
  .container03 .containerLeftContent .titleTextLeft,
.container05 .containerLeftContent .titleTextLeft {
    font-size: 3rem;
  }
  .container03 .containerLeftContent .subtitleTextLeft,
.container05 .containerLeftContent .subtitleTextLeft {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
  .container01 .titleContent {
    padding-top: 50%;
  }
  .container01 .titleContent .titleWeb {
    font-size: 6rem;
  }
  .container01 .titleContent .subtitleWeb {
    font-size: 3rem;
  }
  .container01 .titleContent .arrowDown {
    width: 350px;
    margin-top: 5rem;
  }
  .container02,
.container04 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .container02 .containerRightContent .titleTextRight,
.container04 .containerRightContent .titleTextRight {
    font-size: 3rem;
  }
  .container02 .containerRightContent .subtitleTextRight,
.container04 .containerRightContent .subtitleTextRight {
    font-size: 2.5rem;
  }
  .container03,
.container05 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
  .container03 .containerLeftContent .titleTextLeft,
.container05 .containerLeftContent .titleTextLeft {
    font-size: 3rem;
  }
  .container03 .containerLeftContent .subtitleTextLeft,
.container05 .containerLeftContent .subtitleTextLeft {
    font-size: 2.5rem;
  }
}
@media (max-width: 670px) {
  .container00 {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container01 .titleContent {
    padding-top: 30%;
  }
  .container02 {
    background-image: url(/imagens/homeWebb/Image1.jpg);
  }
  .container03 {
    background-image: url(/imagens/homeWebb/Image2.jpg);
  }
  .container04 {
    background-image: url(/imagens/homeWebb/Image3.jpg);
  }
  .container05 {
    background-image: url(/imagens/homeWebb/Image4.jpg);
  }
  .container02 .containerRightContent,
.container04 .containerRightContent {
    margin-top: 70%;
  }
  .container02 .containerRightContent .titleTextRight,
.container04 .containerRightContent .titleTextRight {
    font-size: 2.5rem;
  }
  .container02 .containerRightContent .subtitleTextRight,
.container04 .containerRightContent .subtitleTextRight {
    font-size: 1.8rem;
  }
  .container03 .containerLeftContent,
.container05 .containerLeftContent {
    margin-top: 70%;
  }
  .container03 .containerLeftContent .titleTextLeft,
.container05 .containerLeftContent .titleTextLeft {
    font-size: 2.5rem;
  }
  .container03 .containerLeftContent .subtitleTextLeft,
.container05 .containerLeftContent .subtitleTextLeft {
    font-size: 1.8rem;
  }
}
@media (max-width: 570px) {
  .container01 .titleContent {
    padding-top: 35%;
  }
  .container01 .titleContent .titleWeb {
    font-size: 3rem;
  }
  .container01 .titleContent .subtitleWeb {
    font-size: 2rem;
  }
  .container01 .titleContent .arrowDown {
    margin-top: 5rem;
  }
  .container02 .containerRightContent,
.container04 .containerRightContent {
    margin-top: 80%;
  }
  .container03 .containerLeftContent,
.container05 .containerLeftContent {
    margin-top: 80%;
  }
}
@media (max-width: 440px) {
  .container01 .titleContent {
    padding-top: 80%;
  }
  .container01 .titleContent .titleWeb {
    font-size: 2.5rem;
  }
  .container01 .titleContent .subtitleWeb {
    font-size: 1.8rem;
  }
  .container01 .titleContent .arrowDown {
    width: 250px;
    margin-top: 4rem;
  }
  .container02 .containerRightContent,
.container04 .containerRightContent {
    margin-top: 120%;
  }
  .container02 .containerRightContent .titleTextRight,
.container04 .containerRightContent .titleTextRight {
    font-size: 1.5rem;
  }
  .container02 .containerRightContent .subtitleTextRight,
.container04 .containerRightContent .subtitleTextRight {
    font-size: 1.2rem;
  }
  .container03 .containerLeftContent,
.container05 .containerLeftContent {
    margin-top: 120%;
  }
  .container03 .containerLeftContent .titleTextLeft,
.container05 .containerLeftContent .titleTextLeft {
    font-size: 1.5rem;
  }
  .container03 .containerLeftContent .subtitleTextLeft,
.container05 .containerLeftContent .subtitleTextLeft {
    font-size: 1.2rem;
  }
}
@media (max-width: 310px) {
  .container01 .containerHeader .titleHeader {
    font-size: 1.8rem;
  }
  .container01 .titleContent {
    padding-top: 70%;
  }
  .container01 .titleContent .titleWeb {
    font-size: 2rem;
  }
  .container01 .titleContent .subtitleWeb {
    font-size: 1.5rem;
  }
  .container01 .titleContent .arrowDown {
    width: 200px;
  }
  .container02 .containerRightContent,
.container04 .containerRightContent {
    margin-top: 160%;
  }
  .container02 .containerRightContent .titleTextRight,
.container04 .containerRightContent .titleTextRight {
    font-size: 1.3rem;
  }
  .container02 .containerRightContent .subtitleTextRight,
.container04 .containerRightContent .subtitleTextRight {
    font-size: 1rem;
  }
  .container03 .containerLeftContent,
.container05 .containerLeftContent {
    margin-top: 160%;
  }
  .container03 .containerLeftContent .titleTextLeft,
.container05 .containerLeftContent .titleTextLeft {
    font-size: 1.3rem;
  }
  .container03 .containerLeftContent .subtitleTextLeft,
.container05 .containerLeftContent .subtitleTextLeft {
    font-size: 1rem;
  }
}
.container06 {
  background-image: url(/imagens/homeHubble/BackgroundImage1.jpg);
}
.container06 .containerHeader {
  display: flex;
  align-items: center;
}
.container06 .containerHeader .titleHeader {
  font-size: 2.5rem;
}
.container06 .containerHeader .subtitleHeader {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.container06 .titleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
}
.container06 .titleContent .titleWeb {
  font-size: 4rem;
}
.container06 .titleContent .subtitleWeb {
  font-size: 2rem;
}
.container06 .titleContent .arrowDown {
  display: inline-block;
  width: 200px;
  margin-top: 2rem;
}

.container07 {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container07 .containerRightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container07 .containerRightContent .titleTextRight {
  font-size: 2.5rem;
}

.container08 {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container08 .containerLeftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container08 .containerLeftContent .titleTextLeft {
  font-size: 2.5rem;
}

.container09 {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container09 .containerRightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container09 .containerRightContent .titleTextRight {
  font-size: 2.5rem;
}

.container10 {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container10 .containerLeftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container10 .containerLeftContent .titleTextLeft {
  font-size: 2.5rem;
}

@media (max-width: 1160px) {
  .container06 .titleContent {
    padding-top: 20%;
  }
  .container07 .containerRightContent .titleTextRight,
.container09 .containerRightContent .titleTextRight {
    font-size: 2rem;
  }
  .container07 .containerRightContent .subtitleTextRight,
.container09 .containerRightContent .subtitleTextRight {
    font-size: 1.5rem;
  }
  .container08 .containerLeftContent .titleTextLeft,
.container10 .containerLeftContent .titleTextLeft {
    font-size: 2rem;
  }
  .container08 .containerLeftContent .subtitleTextLeft,
.container10 .containerLeftContent .subtitleTextLeft {
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  .container06 .titleContent {
    padding-top: 50%;
  }
  .container06 .titleContent .titleWeb {
    font-size: 6rem;
  }
  .container06 .titleContent .subtitleWeb {
    font-size: 4rem;
  }
  .container06 .titleContent .arrowDown {
    width: 400px;
    margin-top: 10rem;
  }
  .container07,
.container09 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .container07 .containerRightContent .titleTextRight,
.container09 .containerRightContent .titleTextRight {
    font-size: 3rem;
  }
  .container07 .containerRightContent .subtitleTextRight,
.container09 .containerRightContent .subtitleTextRight {
    font-size: 2rem;
  }
  .container08,
.container10 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
  .container08 .containerLeftContent .titleTextLeft,
.container10 .containerLeftContent .titleTextLeft {
    font-size: 3rem;
  }
  .container08 .containerLeftContent .subtitleTextLeft,
.container10 .containerLeftContent .subtitleTextLeft {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
  .container06 .titleContent {
    padding-top: 50%;
  }
  .container06 .titleContent .titleWeb {
    font-size: 6rem;
  }
  .container06 .titleContent .subtitleWeb {
    font-size: 3rem;
  }
  .container06 .titleContent .arrowDown {
    width: 350px;
    margin-top: 5rem;
  }
  .container07,
.container09 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .container07 .containerRightContent .titleTextRight,
.container09 .containerRightContent .titleTextRight {
    font-size: 3rem;
  }
  .container07 .containerRightContent .subtitleTextRight,
.container09 .containerRightContent .subtitleTextRight {
    font-size: 2.5rem;
  }
  .container08,
.container10 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
  .container08 .containerLeftContent .titleTextLeft,
.container10 .containerLeftContent .titleTextLeft {
    font-size: 3rem;
  }
  .container08 .containerLeftContent .subtitleTextLeft,
.container10 .containerLeftContent .subtitleTextLeft {
    font-size: 2.5rem;
  }
}
@media (max-width: 670px) {
  .container00 {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container06 .titleContent {
    padding-top: 30%;
  }
  .container07 {
    background-image: url(/imagens/homeHubble/Image1.jpg);
  }
  .container08 {
    background-image: url(/imagens/homeHubble/Image2.png);
  }
  .container09 {
    background-image: url(/imagens/homeHubble/Image3.jpg);
  }
  .container10 {
    background-image: url(/imagens/homeHubble/Image4.jpg);
  }
  .container07 .containerRightContent,
.container09 .containerRightContent {
    margin-top: 70%;
  }
  .container07 .containerRightContent .titleTextRight,
.container09 .containerRightContent .titleTextRight {
    font-size: 2.5rem;
  }
  .container07 .containerRightContent .subtitleTextRight,
.container09 .containerRightContent .subtitleTextRight {
    font-size: 1.8rem;
  }
  .container08 .containerLeftContent,
.container10 .containerLeftContent {
    margin-top: 70%;
  }
  .container08 .containerLeftContent .titleTextLeft,
.container10 .containerLeftContent .titleTextLeft {
    font-size: 2.5rem;
  }
  .container08 .containerLeftContent .subtitleTextLeft,
.container10 .containerLeftContent .subtitleTextLeft {
    font-size: 1.8rem;
  }
}
@media (max-width: 570px) {
  .container06 .titleContent {
    padding-top: 35%;
  }
  .container06 .titleContent .titleWeb {
    font-size: 3rem;
  }
  .container06 .titleContent .subtitleWeb {
    font-size: 2rem;
  }
  .container06 .titleContent .arrowDown {
    margin-top: 5rem;
  }
  .container07 .containerRightContent,
.container09 .containerRightContent {
    margin-top: 80%;
  }
  .container08 .containerLeftContent,
.container10 .containerLeftContent {
    margin-top: 80%;
  }
}
@media (max-width: 440px) {
  .container06 .titleContent {
    padding-top: 80%;
  }
  .container06 .titleContent .titleWeb {
    font-size: 2.5rem;
  }
  .container06 .titleContent .subtitleWeb {
    font-size: 1.8rem;
  }
  .container06 .titleContent .arrowDown {
    width: 250px;
    margin-top: 4rem;
  }
  .container07 .containerRightContent,
.container09 .containerRightContent {
    margin-top: 120%;
  }
  .container07 .containerRightContent .titleTextRight,
.container09 .containerRightContent .titleTextRight {
    font-size: 1.5rem;
  }
  .container07 .containerRightContent .subtitleTextRight,
.container09 .containerRightContent .subtitleTextRight {
    font-size: 1.2rem;
  }
  .container08 .containerLeftContent,
.container10 .containerLeftContent {
    margin-top: 120%;
  }
  .container08 .containerLeftContent .titleTextLeft,
.container10 .containerLeftContent .titleTextLeft {
    font-size: 1.5rem;
  }
  .container08 .containerLeftContent .subtitleTextLeft,
.container10 .containerLeftContent .subtitleTextLeft {
    font-size: 1.2rem;
  }
}
@media (max-width: 310px) {
  .container06 .containerHeader .titleHeader {
    font-size: 1.8rem;
  }
  .container06 .titleContent {
    padding-top: 70%;
  }
  .container06 .titleContent .titleWeb {
    font-size: 2rem;
  }
  .container06 .titleContent .subtitleWeb {
    font-size: 1.5rem;
  }
  .container06 .titleContent .arrowDown {
    width: 200px;
  }
  .container07 .containerRightContent,
.container09 .containerRightContent {
    margin-top: 160%;
  }
  .container07 .containerRightContent .titleTextRight,
.container09 .containerRightContent .titleTextRight {
    font-size: 1.3rem;
  }
  .container07 .containerRightContent .subtitleTextRight,
.container09 .containerRightContent .subtitleTextRight {
    font-size: 1rem;
  }
  .container08 .containerLeftContent,
.container10 .containerLeftContent {
    margin-top: 160%;
  }
  .container08 .containerLeftContent .titleTextLeft,
.container10 .containerLeftContent .titleTextLeft {
    font-size: 1.3rem;
  }
  .container08 .containerLeftContent .subtitleTextLeft,
.container10 .containerLeftContent .subtitleTextLeft {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
